* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #8B4513;
}

canvas {
    border: solid 1px black;
    width: 100%;
}

div {
    width: 90%;
    height: 100%;
    margin: 2%;
    position: absolute;
    text-align:center;
    border-style: solid;
}

.fa-bars{
    top: 6%;
    left: 3%;
    padding: 0.5em;
    font-size: 1.5em;
    color: #8B4513;
    position:absolute;
    z-index: 3;
}

.fa-bars:hover{
    color: orange;
}
#menu{
    position: absolute;
    top: 10%;
    left: 4%;
    z-index: 3;
    display: none;
}

#menu > ul > li{
    list-style: none;
    padding: 0.4em;
    width: 6em;
}

#menu > ul > li > a{
    font-size: 1.1em;
    color: black;
}

#menu > ul > li:hover{
    background-color: orange;
}

#blink { 
    position: absolute; 
    margin-left: 5em;
    font-size: 14px;
    z-index: 3;
}

#botonProyectos {
    padding: 10px;
    background: orange;
    width: 95px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0px 0px 1px #000;
    display: inline-block;
    height: 20px;
    margin-left: 75%;
    margin-top: 45%;
    position: absolute;
    z-index: 3;
}

/* Maquetacion de los contactos */
#contacto{
    padding: 1em;
    display:flex;
}
#contacto > ul{
    margin: auto;
    display: flex;
    align-content: center;
    
    z-index: 4;
}

#contacto > ul > li{
    list-style: none;
    padding: 1em;
}

#contacto > ul > li > a > i{
    font-size: 3em;
    margin-top: 550px;
    color: black;
}

#contacto > ul > li > a > i:hover{
    color: orange;
}

@media only screen and (max-width: 1040px)
{
    #contacto > ul > li > a > i {
        margin-top: 400px;
    }
} 

@media only screen and (max-width: 800px)
{
    #contacto > ul > li > a > i {
        margin-top: 300px;
    }
}